/*
*/

/* Aqui va la imagen de fondo */
.html{
    background:url('https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2018-11/abc%20finanzas.jpg') no-repeat center center;
    min-height:120%;
    background-size: 100% 310% ;
}

/* Modificación de borde tabla */
.mastertab{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 10px 10px;
}

/* Modificación de borde tabla */
.tablaCalculadora{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 10px 10px;
}

/* Estilo Titulo */
.Titulo{
	font-size: 25px;
	font-weight: bold;
	color: #EEE0D8;
	text-shadow: 2px 5px 4px black;
}

/* Estilo Capital */
.Capital{
	font-size: 25px;
	font-weight: bold;
	color: #EEE0D8;
	text-shadow: 2px 5px 4px black;
}

/* Estilo TIA */
.Tia{
	font-size: 25px;
	font-weight: bold;
	color: #EEE0D8;
	text-shadow: 2px 5px 4px black;
}

/* Estilo Años */
.Anos{
	font-size: 25px;
	font-weight: bold;
	color: #EEE0D8;
	text-shadow: 2px 5px 4px black;
}