/*
*/

/* Aqui va la imagen de fondo */
.html{
    background:url('https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2018-11/abc%20finanzas.jpg') no-repeat center center;
    background-size: 100% 850%  ;
}

/* Modificación de borde tabla */
.tablaResultado{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 10px 10px;
}

/* Estilo Resultado */
.Resultado{
	font-size: 25px;
	font-weight: bold;
	color: #EEE0D8;
	text-shadow: 2px 5px 4px black;
}

